<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avi.reddit_like">

    <!-- Internet permission is necessary -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedditLike">

        <!-- ✅ MainActivity will be the entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- ✅ This makes MainActivity launch first -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".PostDetailActivity" />
        <activity android:name=".WebViewActivity"
            android:exported="false"/>


        <!-- ❌ LoginActivity disabled (no OAuth for now) -->
        <!--
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="com.avi.reddit_like"
                    android:host="oauth2redirect" />
            </intent-filter>
        </activity>
        -->

    </application>
</manifest>
